# Data Warehouse: Designing and building with SQL Server

In [ ]:
--create db for DW
CREATE DATABASE AdventureWorksDW;

In [6]:
--create user with permissions (for later use)
USE AdventureWorksDW;
CREATE LOGIN cr46p1 WITH PASSWORD = 'Sql@1234';
CREATE USER cr46p1 FOR login cr46p1; 
GRANT SELECT, INSERT, UPDATE, DELETE ON DATABASE::AdventureWorksDW TO cr46p1;

: Msg 15025, Level 16, State 1, Line 1
The server principal 'cr46p1' already exists.

: Msg 15023, Level 16, State 5, Line 2
User, group, or role 'cr46p1' already exists in the current database.

In [5]:
--analyze the source db schema, tables and fields with data types
--begin dimensional modelling: fact table